# Checkpoints
checkpoints/*.pt
checkpoints/*.ckpt
*.pt

# Data
data/pusht/*.zip
data/pusht/pusht_cchi_v7_replay.zarr/

# Outputs
plots/
*.png

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
.env
.venv
venv/

# IDE
.vscode/
.idea/
